.bgImageSize {
  background-image: url("/computer.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: left bottom; */
  background-position-y: 30%;
  background-blend-mode: multiply;
  color: #fff;
}
